
body{
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #181818;
  color: white;
}

.top-bar{
  margin: 0;
  width:100%;
  height:50px;
  background-color: #000;
  display: flex;
  font-size:x-large;
  border:none;
  border-bottom:dashed;
  border-color:white;
}

.tb-hamburger-button{
  width:50px;
  height:100%;
  
  color:#fff;
  font-weight:bold;
  font-size:20px;
  border:none;
  
  background-color: #000000;
  content-adjust:center;
}


.tb-hamburger-button:hover, .tb-create-button:hover, .tb-text-button:hover{ 
  background-color:#111;
  color:#FFF;
  justify-content:left;
  top:50%;
}
.tb-hamburger-button:active, .tb-create-button:active, .tb-text-button:active{ 
  background-color:#555;
  color:#FFF;
  justify-content:left;
  top:50%;
}


.dropdown {
  position: relative;
  float:left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 120px;
  width:max-content;
  
  border-style:solid;
  border-width:1px;
  border-color:#666;
  
  text-align:left;
  
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #AAA;
  font-size:medium;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color:#333;
}

.tb-create-button{
  width:50px;
  height:100%;
  margin-left:auto;

  color:#000;
  font-weight:bold;
  font-size:20px;
  
  background-color: #FFF;
  content-adjust:center;
  
  border:none
}


.tb-create-button a:link{
    color:#000;

}

.tb-create-button a:visited{
  color:#000;

}

.tb-text-button{
  width:max-content;
  padding:10px;
  button:none;
  height:100%;
  
  font-size:15px;
  color:#FFF;
  font-weight: bold;
  
  background-color: #000000;
  border:none;
}

.top-bar input[type=text] {
  height: 20px;
  width: 20%;
  float: right;
  position:relative;
  padding: 6px;
  border: none;
  color:#333;
  background-color:#666;
  border-radius: 6px;
  top: 10px;
  margin-left: 12px;
  font-size: 14px;
}



.top-bar input[type=text]:focus {
    background-color:white;
    color:black;
    outline: none;
}

.show {display: block;}
